version: '3.8'

services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: search
      POSTGRES_USER: search
      POSTGRES_PASSWORD: search
    ports:
      - 5432:5432

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.15
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - 9200:9200

  redis:
    image: redis:7
    ports:
      - 6379:6379
